
//Color Palate
$white: #ffffff;

$black: #111111;

$blue: #2176B9;

$darkBlue: #150578;

$bgColor: #121212;

$boxColor: #1F1C1C;

$h1: 55px;
$h1weight: 700;

$h2: 45px;
$h2weight: 700;

$h3: 39px;
$h3weight: 700;

$h4: 35px;
$h4weight: 600;


$h5: 32px;
$h5weight: 600;

$h6: 28px;

$p: 15px;
$p6weight: 200;

$lable: 22px;
$labelweight: 400;

$CTA: 16px;
$CTAfontweight: 500;


$light: 200;
$normal: 400;
$bold: 600;
$heavy: 800;


//Layout breakponts
$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;
